# Project exclude paths
/DI_Quickstart/target/
/IOC_Quickstart/target/
/Base_Config/target/
/Bean_Instance/target/
/Bean_Lifecycle/target/
/DI_Set/target/
/DI_Constructor/target/
/DI_AutoWare/target/
/DI_Collection/target/
/Datasource/target/
/Container/target/
/Annotation_Bean/target/
/Annotation_Bean_Manager/target/
/Annotation_DI/target/
/Annotation_Third_Bean_Manager/target/
/Spring_Mybatis/target/
/Spring_Junit/target/
/AOP_Demo/target/
/AOP_Advice_Type/target/
/Case_Interface_Run_Speed/target/
/AOP_Advice_Data/target/
/Case_Handle_Password/target/
/Case_Transfer/target/